body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* Section Table */
table {
  display: flex;
  flex-direction: column;
  width: 300px;
}

tr { 
  display: flex;
}

.order {
  flex-grow: 2;
}

.edit {
  flex-grow: 2;
}

.product_list {
  list-style-type: none;
  display: flex;
}

.product_name {
  flex-grow: 6;
}

.price {
  flex-grow: 2;
  margin-right: 10px;
}

.counter {
  flex-grow: 1;
}

.product_list {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.product_list li {
  padding: 10px;
}
